<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Weather Request</title>

    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
</head>
<body> 

    <div class="container">
       
        <div class="row weather-form">
            
            <div class="col-6 offset-3 form-group p-3 text-center">
                <label for="theInput form-control "><strong>Please type in a City:</strong></label>
                <input class="form-control" id="theInput" type="text">
                <button class="btn btn-success m-1" onclick="sendData.send('theInput')" type="button"> Submit</button>
            </div>
           
        </div>
    
        <div class="row">
            <div class="col-4 offset-4">
                <label for="temperature"><strong>Temperature:</strong></label>
                <h5 id="temperature"></h5>
            </div>
        </div>
    </div>

    <script src="../static/js/get-weather-data.js"></script> 
</body>
</html>

